.photo-grid {
    display: grid;
    margin: 92px auto;
    list-style: none;
    padding: 0;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, 22.19%);
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        gap: 14px;
        grid-template-columns: repeat(auto-fit, 29.3vw);
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        margin: 88px auto;
        gap: 16px;
        grid-template-columns: repeat(auto-fit, 45.835%);
    }
}

@media screen and (max-width: 425px) {
    .photo-grid {
        grid-template-columns: 90vw;
        gap: 12px;
        margin: 64px auto;
    }
}