.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1184px;
    width: 100%;
    max-height: 52px;
    height: 100%;
    margin: 28px auto 0;
    box-sizing: border-box;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .header {
        margin: 24px auto 0;
    }
    
}