.footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 19px;
    flex-wrap: wrap;
}

@media screen and (max-width: 650px) {
    .footer__links {
        margin-bottom: 48px;
        gap: 32px;
        flex-direction: column;
    }
}