.intro {
    width: 76.88%;
    margin: 92px auto 0;
}

@media screen and (max-width: 1024px) {
    .intro {
        width: 90.625vw;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        margin-top: 88px;
        width: 93.75vw;
    }
}

@media screen and (max-width: 425px) {
    .intro {
        width: 90vw;
        margin-top: 64px;
    }
}