.cover {
    width: 92.5%;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .cover {
        width: 100%;
    }
}