.place__link {
    color: white;
    font-size: 18px;
    line-height: 22px;
    align-self: start;
    margin: 0;
    transition: opacity 0.5s linear;
    text-decoration: none;
    border-bottom: 1px solid white;
    box-sizing: border-box;
}

.place__link:hover {
    opacity: 80%;
}