.footer {
    display: flex;
    max-width: 92.5%;
    width: 100%;
    margin: 92px auto 24px;
    justify-content: space-between;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: 90.626%;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: 720px;
        margin-top: 90px;
    }
}

@media screen and (max-width: 425px) {
    .footer {
        max-width: 188px;
        margin-top: 64px;
        margin-left: 18px;
        flex-direction: column;
    }
}

