.footer {
    display: flex;
    width: 92.5%;
    margin: 92px auto 24px;
    justify-content: space-between;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .footer {
        width: 92.431%;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .footer {
        width: 95%;
        margin-top: 88px;
        flex-direction: column;
    }
}

@media screen and (max-width: 425px) {
    .footer {
        flex-direction: column;
        margin-top: 64px;
    }
}

